.cardProduct {
    overflow: hidden;
    height: 80px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 12px;
  }

  .cardTitle {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardProduct img {
    height: 100%;
    width: 80px;
    object-fit: cover;
  }
  
  .cardProduct h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 8px;
  }
  
  .cardProduct p {
    font-size: 12px;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 8px;
  }
  
  .cardProductInfos {
    width: 100%;
    margin: 4px 0px 0px 8px;
  }