html,
body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F5FAFA;
}

a {
  color: inherit;
  text-decoration: none;
}

.activeTab {
  color: #0B4D78 !important;
} 

* {
  box-sizing: border-box;
}

/* #__next {
  display: grid;
  grid-template-rows: 1fr 18fr 1fr;
} */

main {
  margin-bottom: 12px;
  overflow: scroll;
  height: 83vh;
}

.scrollableContainer {
  height: 100%;
  margin-bottom: 12px;
  overflow: scroll;
}

.activityResultsContainer {
  overflow: scroll;
}


