html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F5FAFA;
}

a {
  color: inherit;
  text-decoration: none;
}

.activeTab {
  color: #0B4D78 !important;
} 

* {
  box-sizing: border-box;
}

#__next {
  display: grid;
  grid-template-rows: 5% 88% 5%;
}

